.body_backgorund {
    background-image: url("bg1.jpg");
    background-position: center;
    background-size: cover;
  }
  body{
    cursor: pointer;
  }
  h1
  {
      color:indianred; 
      font-size: 40px;
  }
  #myCanvas
  {
      border-width:10px;
      background-color:whitesmoke; 
      border-style:ridge;
  }

  button {
    background-color: #8c8fb8;
    border: none;
    color: rgb(153, 25, 25);
    padding: 10px 42px;
    font-size: 16px;
  }

  input
  {
    margin-right: 20px;
  }
  